{% extends 'customers/customer_base.html' %}

{% block title %} Customer Suspension {% endblock %}

{% block header %} Choose Suspension Dates {% endblock %}

{% block content %}
<br />
<div class="w-50 mt-3">
<form action="{% url 'customers:suspend' %}" method="post" class="text-start">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for "start" class="form-label col-form-label-lg">Start Date:</label>
            <input type="date" name="start" id="start" class="form-control form-control-lg">
    </div>
    <div class="mb-3 mt-3">
        <label for "end" class="form-label col-form-label-lg">End Date:</label>
            <input type="date" name="end" id="end" class="form-control form-control-lg">
    </div>
    <div class="mb-3 mt-3 text-center">
        <input type="submit" value="Submit" class="btn btn-primary mt-3 btn-lg">
    </div>  
</div>
</form>

{% endblock %}