{% extends 'base.html' %}
{% load static %}
{% block head %}<link href="{% static '/styles.css'%}" rel="stylesheet">{% endblock %}

{% block title %} Login Page {% endblock %}

{% block header %} Please Log In {% endblock %}

{% block content %}
<br />
<div class="w-50 mt-3">
  <form method="post" class="text-start login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary mt-3 w-25 mb-5" type="submit">Log In</button>
  </form>
</div>
<br />
<p>No account? <a href='{% url "accounts:register" %}'>Register instead</a></p>
{% endblock %}